@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kaushan+Script&display=swap");

/* @import "PATH_TO_TAILWIND_CSS_FILES"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        font-family: "Inter", sans-serif;
    }

}

@layer components {

    .logo {
        &::before {
            font-family: "Kaushan Script", sans-serif;
            content: "Festiplan";
        }
    }

    form {
        .form-duo {
            @apply grid grid-cols-2 gap-5;
        }

        .form-component {
            > label {
                @apply block w-full;

                > p {
                    @apply text-sm font-bold;
                }
            }
        }

        .form-buttons,
        .form-buttons-column {
            @apply flex gap-5;
        }

        .form-buttons {
            @apply flex-wrap;
        }

        .form-buttons-column {
            @apply flex-col;
        }
    }

    input:not([type="checkbox"]):not([type="radio"]),
    select,
    textarea,
    button {
        @apply border-0 rounded-xl p-3 text-sm block w-full;
    }

    input:not([type="checkbox"]):not([type="radio"]),
    select,
    textarea {
        @apply bg-grey-light;
    }

    button {
        &:hover {
            @apply opacity-80;
        }

        &:active {
            @apply opacity-60;
        }

        &.button-blue,
        &.button-grey {
            @apply text-white;
        }

        &.button-blue {
            @apply bg-blue;
        }

        &.button-grey {
            @apply bg-grey;
        }
    }

    hr {
        @apply border-grey-light;
    }

    nav {
        @apply bg-orange text-white justify-between;

        > h1.logo,
        > .user-menu {
            @apply flex-none;
        }

        > .links,
        > .user-menu > .user-name {
            @apply font-bold text-lg cursor-pointer;

            text-shadow: 1px 1px 0 rgba(0 0 0 / .25);
        }

        > .links {
            @apply flex gap-x-10 flex-1;

            > a {
                &:not(.active-link) {
                    &:hover {
                        @apply opacity-80
                    }

                    &:active {
                        @apply opacity-60;
                    }
                }

                &.active-link {
                    @apply text-orange-light;
                }

                > i {
                    @apply mr-1;
                }
            }
        }

        > .user-menu {
            @apply relative;

            &:hover {
                > .menu-dropdown-container {
                    @apply block;
                }
            }

            > .user-name {
                @apply flex items-center justify-end;

                i {
                    @apply mr-1;
                }
            }

            > .menu-dropdown-container {
                @apply absolute pt-5 hidden min-w-[250px] right-0;

                > .menu-dropdown {
                    @apply border border-neutral-300 bg-grey-light rounded-lg shadow
                    text-black text-base font-medium p-3 flex flex-col gap-y-1;

                    > a {
                        > i {
                            @apply mr-1;
                        }
                    }
                }
            }
        }
    }

    section {
        > .title-container {
            @apply flex flex-wrap items-center gap-10 mb-10;

            > h2.title {
                @apply text-5xl font-black;
            }

            > button {
                width: auto;
            }
        }
    }

    .festival-preview {
        @apply flex gap-x-5;

        > .festival-picture {
            @apply w-32 h-32 rounded-lg bg-blue flex-none;
        }

        > .festival-identity {
            @apply flex-1 flex flex-col justify-between;

            > h3.festival-name {
                @apply font-black text-4xl mb-1;
            }
        }

        > .festival-duration {
            @apply flex-none flex flex-col justify-center gap-y-1;

            > .beginning-date,
            > .ending-date {
                @apply text-2xl font-light text-center text-grey;
            }

            > .duration-arrow {
                @apply flex justify-center;
            }
        }
    }

    .pagination {
        @apply flex justify-between items-center text-grey text-3xl;

        > .previous-links,
        > .next-links {
            @apply flex gap-x-2;

            > a {
                &:hover {
                    @apply opacity-80;
                }

                &:active {
                    @apply opacity-60;
                }
            }
        }

        > .previous-links {
            @apply justify-start;
        }

        > .next-links {
            @apply justify-end;
        }
    }

    nav,
    footer.grey-footer {
        @apply px-10 py-5 flex items-center
        gap-x-20;
    }

    footer.grey-footer {
        @apply bg-grey-light text-grey;

        > h1.logo {
            @apply flex-none;

            &:last-child {
                @apply opacity-0;
            }
        }

        > .copyrights {
            @apply text-center flex-1 font-bold;
        }
    }

    label.checkbox,
    label.radio {
        @apply font-medium text-sm flex items-center gap-x-3;

        > input {
            @apply h-5 w-5;
        }
    }

}