<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>
  It's a Twig view! :D
</h1>

{% for user in users %}
  [{{user.id}}] {{user.name}} <br />
{% endfor %}
</body>
</html>